.appointments-section {
  flex: 1;
  max-width: 45%;
}

.appointments-section__title {
  margin-bottom: 2rem;
}

.appointments-section__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.appointments__date-picker {
  width: 50%;
  margin: 0.75rem 0;
}

.appointments-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 1rem 0;
}
