@font-face {
  font-family: "Heebo";
  src: local("Heebo-Regular"),
    url("./fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Heebo";
  src: local("Heebo-Medium"), url("./fonts/Heebo-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Heebo";
  src: local("Heebo-Bold"), url("./fonts/Heebo-Bold.ttf") format("truetype");
  font-weight: 600;
}

body {
  margin: 0;
  font-family: "Heebo", "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mui-palette-secondary-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div,
span,
p,
h1,
h2,
h3 {
  box-sizing: border-box;
  margin: 0;
}
