.header {
  display: flex;
  align-items: center;
  max-width: 95%;
  margin: 0 auto 2rem;
  padding: 0.25rem 0;
}

.header__logo {
  max-width: 3rem;
  margin-right: 1rem;
}

.header__logo img {
  width: 100%;
}

.header-title {
  font-size: 2rem;
  color: goldenrod;
}

.header-title__secondary {
  font-size: 24px;
  color: goldenrod;
}
