.header {
  display: flex;
  align-items: center;
  max-width: 95%;
  margin: 1rem auto 2rem;
  background: var(--mui-palette-common-white);
  border-radius: 0.5rem;
  position: relative;
}

.header__logo {
  max-width: 4.25rem;
  position: absolute;
  top: -12px;
  left: -24px;
}

.header__logo img {
  width: 100%;
}

.header-title {
  font-size: 2rem;
  color: var(--mui-palette-primary-light);
  margin-left: 4rem;
}

.header-title__secondary {
  font-size: 1rem;
  font-weight: 400;
}
