.scheduler-section {
  flex: 1;
  max-width: 35%;
  background-color: var(--mui-palette-common-white);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.scheduler-section__title {
  margin-bottom: 1rem;
  color: var(--mui-palette-primary-main);
}

.scheduler-section__text {
  font-size: 14px;
  margin-bottom: 1rem;
}

.scheduler-form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin: 2rem 0;
}

.scheduler-form__buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
